<form [formGroup]="service.form" (ngSubmit)="submit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="form-group">
                <input type="hidden" formControlName="$key">

                <mat-form-field>
                    <input matInput placeholder="Full name" formControlName="fullName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mobile" formControlName="mobile">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
             <!--   <mat-form-field>
                    <mat-radio-group aria-label="Select your gender" formControlName="gender">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                        <mat-radio-button value="3">Other</mat-radio-button>
                      </mat-radio-group>
                </mat-form-field>
            -->
            
            
            
            
            </div>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
      </mat-grid-list>
</form>