/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

form .form-group {
  width: 100%;
  padding: 10%;
}

form .form-group > * {
  width: 100%;
}

form .form-group mat-radio-button {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

form .form-group mat-radio-button:first-child {
  margin-left: 0;
}

form .form-group .buttons-row {
  margin-top: 1rem;
}

form .form-group .buttons-row .btn-clear {
  margin-left: 1rem;
}
